@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 66% 99%;
    --foreground: 20 51% 4%;
    --muted: 20 25% 86%;
    --muted-foreground: 20 7% 25%;
    --popover: 20 66% 98%;
    --popover-foreground: 20 51% 3%;
    --card: 20 66% 98%;
    --card-foreground: 20 51% 3%;
    --border: 20 15% 94%;
    --input: 20 15% 94%;
    --primary: 84 100% 55%; /* #99FF19 */
    --primary-foreground: 0 0% 0%;
    --secondary: 20 12% 92%;
    --secondary-foreground: 20 12% 32%;
    --accent: 20 12% 92%;
    --accent-foreground: 20 12% 32%;
    --destructive: 11 80% 22%;
    --destructive-foreground: 11 80% 82%;
    --ring: 84 100% 55%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 4%; /* #0A0A0A */
    --foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 65%;
    --popover: 0 0% 4%;
    --popover-foreground: 0 0% 98%;
    --card: 0 0% 4%;
    --card-foreground: 0 0% 98%;
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --primary: 84 100% 55%; /* #99FF19 */
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 0 0% 70%;
    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 75%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --ring: 84 100% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: 
      radial-gradient(circle at 25% 0, rgba(153, 255, 25, 0.05) 0, transparent 50%),
      radial-gradient(circle at 75% 100%, rgba(153, 255, 25, 0.05) 0, transparent 50%);
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh;
    height: 100dvh;
  }
}